# dependencies
node_modules/

# expo
.expo/
.expo-shared/

# builds
dist/
build/

# environment variables
.env
.env.local
.env.production
.env.development

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# windows
Thumbs.db

# vscode
.vscode/
.claude

# android
android/

# ios
ios/

# coverage
coverage/

# temporary files
*.tmp
*.temp